*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-neutra);
}

:root{
    --cor-principal:#245485;
    --cor-secundaria: #577da2;
    --cor-neutra:#f0f0f0;
    --cor-destaque: #be3144;
}

body{
    height: 150vh;
}


img {
    width: 10%;
}


.cabecalho{
    position: fixed;
    background-color: var(--cor-destaque);
    height: 34px;
    width: 100vw; /* largura 100% da largura da tela do cliente (viewport width)*/
}

ul.flex > li{
    /* flex: 1; */
    list-style: none;
    margin-left: 20px;
}

ul.flex a{
    font-weight: bold;
    text-decoration: none;
}

ul.flex{
    height: 100%;
    align-items: center; /*para centralizar os filhos verticalmente, a altura do pai deve ser informada*/
    flex: 1;
    justify-content: flex-end;
    padding-right: 5em;

}

.flex{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
}

.flex-item{
    width: 100%;
    text-align: center;
}

h1.flex-item{
    font-size: 34pt;
}
#sobre > p{
    color: var(--cor-destaque);
}

section{
    /* height: calc(100vh - 34px); */
    height: 100vh;
    background-color: var(--cor-principal);
}

section.flex{
    /* align-content: center; */
    align-items: center;
    align-content: center;
}

#cursos{
    background-color: var(--cor-secundaria);
}
.bg-red{
    background-color: red;
}